<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>DeepTide</string>
  <key>CFBundleName</key>
  <string>DeepTide</string>
  <key>CFBundleIdentifier</key>
  <string>com.vincentjutte.deeptide</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon.icns</string>
  <key>DeepTideUpdateRepo</key>
  <string>Viralhouse/clock-app</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>DeepTide benötigt Apple Events, um "Nicht stören" zu steuern und Spotify-Playback/Tracks auszulesen.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>DeepTide benötigt Audio-Input, um den Visualizer mit BlackHole/STT_SYSTEM für Spotify-Systemaudio zu speisen.</string>
</dict>
</plist>
